@font-face {
	font-family: "WorkSans";
	src: url('./../fonts/WorkSans-VariableFont_wght.ttf');
	font-style: normal;
}

@font-face {
	font-family: "WorkSans";
	src: url('./../fonts/WorkSans-Italic-VariableFont_wght.ttf');
	font-style: italic;
}